@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    object-fit: cover;
    font-family: "Inter",sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-image: linear-gradient(to bottom,#030715,#091741);
    position: relative;
}
section{
    width: 40vw;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
    color: #ffffff;
    gap: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    
}
section img{
    width: 50%;
    height: auto;
}
section button{
    width: 75%;
    padding: 1rem;
    border: none;
    background-image: linear-gradient(to bottom,#FEDF00,#988500);
    border-radius: 0.3rem;
    font-size: 1.3rem;
    font-weight: 600;

}

section input{
    border: none;
    width: 70%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #50555C;

}
section > div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-wrap: nowrap;
    font-weight: 300;
    font-size: 1.2rem;
}
section input::placeholder{
        color: #ffffff;
}
.signout{
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 1.5rem;
    background-image: linear-gradient(to right,#F9BA0E,#936E08);
    font-size: 1rem;
    font-weight: 500;

}

